/* Make Body and Html weight of the entire page */
html, body{
    height:100%;
    width:100%;
    background-color:grey
}

/* Make the view box that is dynamic depending on screen size.*/
.view{
    width: 50%;
    height:100%;
    margin: auto;
    background-color: white;
}

h1,p{
  font-family:'Courier New', Courier, monospace;
}


/* Mobile Styles */
@media only screen and (max-width: 400px) {
    .view{
      width: 100%
    }
}
  
  /* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    .view{
      width: 75%
    }
}
  
  /* Desktop Styles */
@media only screen and (min-width: 961px) {
    .view{
      width: 50%
    }
}